<table>
  <tr>
    <th>Группа</th>
    <th>Количество</th>
  </tr>
  <% Group.eager_load(department: :entrants).map do |group| %>
    <tr>
      <td><%= link_to(group.name, admin_group_path(group)) %></td>
      <td><%= group.department.entrants.count %></td>
    </tr>
  <% end %>
</table>
